.button {
  background-color: #041833;
  border-radius: 36px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 20px 50px;
  &:disabled {
    background-color: #020611;
    opacity: 0.5;
  }
}